@import url("https://fonts.googleapis.com/css?family=Jost");

body {
  background-color: lightgrey;
}

.App {
  background-color: #ffffff;
  font-size: 20px;
  font-family: Jost, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-size:30px;
  margin:10px;
  color: rgb(76,34,130);
}

h3{
  font-size:20px;
  margin:10px;
  color: rgb(76,34,130);
}


.App-link {
  color: #61dafb;
}

button{
  height: 50px;
  float:center;
  background: rgb(76,34,130);
  color: white;
  border: 2px solid grey;
  font-family: Jost, sans-serif;
  font-size:"30px";
  border-radius: 3px;
  margin: 5px;
}

button:hover{
  float:center;
  background: white;
  color: rgb(76,34,130);
  border: 2px solid grey;
  font-family: Jost, sans-serif;
  font-size:"40px";
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
}

.main{
  background-color: lightgray;
}

#AC{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 80px; /* change this to whatever height you want it */
}

div{
  margin: 0;
}
#div2{
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}
pre{
  font-size: 15px;
  font-family: sans-serif;
  max-width: 900px;
  text-align: left;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.container{
  text-align:center;
}

input{
  width: 500px;
  height: 45px;
  font-size: 20px;
  font-family: bungee, sans-serif;
  border: 2px solid rgb(76,34,130);
  border-radius: 3px;
}

.login{
  width: 20%;
  height: 45px;
  font-size: 20px;
  font-family: bungee, sans-serif;
  border: 2px solid rgb(76,34,130);
  border-radius: 3px;
}

label{
  position: absolute;
  font-size: 16px;
  padding-top: 370px;
  top: 1%;
  right: 40.5%;
  font-weight: 600;
  color: solid rgb(76,34,130);
}

label:hover{
  position: absolute;
  font-size: 16px;
  padding-top: 370px;
  top: 1%;
  right: 40.5%;
  font-weight: 600;
  color: grey;
}


.CA{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: flex;
  padding: 22px;
  padding-top: 72px;
  max-width: 80%;
  outline: 1px solid grey;
  background-color: #ffffff;  
}

.break{
  display: block;
  margin: 10px 0;
}

select{
  margin-left: 40px;
  margin-bottom: 10px;
  width: 600px;
  height: 55px;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  border: 2px solid rgb(198, 198, 198);
  border-radius: 5px;
}

#d1{
  display: flex;
  gap: 0;
  justify-content: center;
}

.dhome{
  display: flex;
  gap: 15%;
  justify-content: center;
}

.dhome1{
  display: flex;
  gap: 5%;
  justify-content: center;
}

.dhome2{
  margin-left: 3%;
  display: flex;
  gap: 10%;
  justify-content: center;
}

.dhome3{
  margin-left: 1%;
  display: flex;
  gap: 17%;
  justify-content: center;
}

.DE{
  display: inline-block;
  text-align: center;
  outline: 1px solid rgb(128, 128, 128);
  background-color: #fddaff; 
  max-width: 80%;
}


.profClass{
  display: none;
  position: relative;
}



#profId{
  list-style: none;
  padding: unset;
  margin: unset;
  position: absolute;
  width: 100%;
}

#profId li {
  border: 1px solid #e9e9e9;
  border-top: unset;
}

#profId button {
  border: unset;
  background: #ffffff;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5em;
  color: black;
}




.courseClass{
  display: none;
  position: relative;
}

#courseId{
  list-style: none;
  padding: unset;
  margin: unset;
  position: absolute;
  width: 100%;
}

#courseId li {
  border: 1px solid #e9e9e9;
  border-top: unset;
}

#courseId button {
  border: unset;
  background: #ffffff;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5em;
  color: black;
}


.show {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.Collapsible__contentOuter{
  outline: 1px solid grey;
  background-color: #ffffff;
}

.Collapsible{
  padding-left: 20px;
  padding-right: 20px;
}